<div>
  <link href="./article-card.css" rel="stylesheet" />
  <div class="article-card-container">
    <img alt="image" src="public/city-1-1400w.jpg" class="article-card-image" />
    <div class="article-card-container1">
      <h3 class="article-card-text Healine">
        <span>Portofino one of the best for remote working</span>
      </h3>
      <div class="article-card-container2">
        <span class="article-card-text1">
          <span>
            Finding temporary housing should be as easy as renting an Airbnb.
            That's th e idea behinf portofino, which raised $65 million to
            expand its pet sitting businesses. This come as the right move for
            the investment while the planet is moving on work from home...
          </span>
        </span>
      </div>
      <div class="article-card-container3">
        <img
          alt="avatar"
          src="15958451-f790-4024-a70e-cc38b82637f2"
          class="article-card-image1"
        />
        <div class="article-card-container4">
          <span class="article-card-text2"><span>Laura Hanks</span></span>
          <div class="article-card-container5">
            <span class="article-card-text3 TextSM">
              <span>Published 3 days ago</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
