<div>
  <link href="./footer.css" rel="stylesheet" />
  <div class="footer-container">
    <div class="footer-container1">
      <div class="footer-container2">
        <h1 class="footer-text TextXL">
          <span>Let&apos;s keep in touch</span>
        </h1>
        <span class="footer-text2">
          Find out on any of these platforms, we respond 1-2 business days.
        </span>
      </div>
      <div class="footer-container3">
        <div class="footer-container4">
          <span class="footer-text3 TextXS">USEFUL LINK</span>
          <span class="footer-text4 TextSM">GetHelp</span>
          <span class="footer-text5 TextSM">Github</span>
        </div>
      </div>
    </div>
    <div class="footer-container5"></div>
    <span class="footer-text6">
      HCL virtual Internship program Copyright@Website developed by Anas Jawed
    </span>
  </div>
</div>
