<div>
  <link href="./service-card.css" rel="stylesheet" />
  <div class="service-card-container">
    <div class="service-card-container1">
      <svg viewBox="0 0 1024 1024" class="service-card-icon">
        <path
          d="M512 86q124 0 211 87t87 211q0 150-128 244v98q0 18-12 30t-30 12h-256q-18 0-30-12t-12-30v-98q-128-88-128-244 0-124 87-211t211-87zM384 896v-42h256v42q0 18-12 30t-30 12h-172q-18 0-30-12t-12-30z"
        ></path>
      </svg>
    </div>
    <h1 class="service-card-text TextXL"><span>Excelent services</span></h1>
    <span class="service-card-text1">
      <span>
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </span>
    </span>
  </div>
</div>
