<div>
  <link href="./user-details.css" rel="stylesheet" />
  <div class="user-details-container">
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
      class="user-details-image"
    />
    <div class="user-details-container1">
      <span class="user-details-text TextSM"><span>Laura Hanks</span></span>
      <div class="user-details-container2">
        <span class="user-details-text1 TextXS">Published</span>
        <span class="user-details-text2 TextXS"><span>3 days</span></span>
        <span class="user-details-text3 TextXS">ago</span>
      </div>
    </div>
  </div>
</div>
